
.subHead {
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  padding: 0px 8px 0px 8px;
  background-color: #b4b4b4;
  text-align: left;
  font-size: 12px;
  color: white;
  width:100%;
}

.serviceEditorPanel{
  width: 100%;
  background-color: #f5f5f3;
  padding-bottom: 7px;


}
