.loadingPage{
  z-index: 9999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  opacity: 0.98;
}

.loadingLogo{
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
  width: 220px;
  height: 220px;
}
