.routeTable {
  background-color: #F5F5F3;
  height: 80px;
  width: 100%;
  box-shadow: 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  color: white;
  width: 25px;
  height: 25px;
  display: inline-table;
  background-color: #959595;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 5px 5px 5px 5px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}
