.ScenarioEditorCol {
  /*left: 50vw;*/
  width: 100%;
  box-shadow: 0px 0px 0px;
  /*outline: 1px solid #000000;*/

}


.colHead{
  height: 24px;
  line-height: 24px;
  background-color: #696969;
  position: relative;;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 99;
  font-size: 14px;



}

.routesContainer {
  height: 65px;
  width: 100%;
}

.routeItem {
  color: #FFFFFF;
  font-size: 14px;
  padding: 4px;
  width: 25%;
  height: 30px;
  vertical-align: middle;
  text-align: center;
}


.routeItemSel {
  border: 3px solid #eec16f;
  padding: 3px;
}

.routeInfill{
  color: #FFFFFF;
  font-size: 14px;
  width: 25%;
  height: 30px;
  padding: 4px;
  vertical-align: middle;
  text-align: center;
}
