.ScenarioEditorCol {
  width: 100%;
  box-shadow: 0px 0px 0px;
}

.colHead {
  height: 24px;
  line-height: 24px;
  background-color: #696969;
  position: relative;;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 99;
  font-size: 14px;
}

.routesContainer .oppsContainer {
  height: 30px;
  width: 100%;
}

.routeItem {
  color: #FFFFFF;
  font-size: 14px;
  width: 33.33333%;
  height: 30px;
  vertical-align: middle;
  text-align: center;
}

.routeItemSel {
  color: #FFFFFF;
  font-size: 14px;
  width: 33.33333%;
  height: 30px;
  padding: 3px;
  vertical-align: middle;
  text-align: center;
}
