#leftDynamic {
  right: 50vw;
  width: calc(50vw - 300px)
}


.btn {
  border-radius: 0px;
  text-align: left;
}

.tiny {
  background-color: #959595;
  width: 100%
}

.colBody .scenariosTable {
  overflow-y: hidden;
  overflow-x: auto;
  height: inherit;
}

.scenariosTable .scenario {
  padding: 0px 3px 0px 3px;
  position: relative;
  float: left;
  width: 150px;
  height: inherit;
  white-space: nowrap;
  z-index: 9;
  overflow: hidden;
}

.scenarioEntries {
  margin-left:24px;
  height:100%;
  width:10000px;
  overflow-y:auto;
  overflow-x:auto;
}


.scenario .subHead {
  margin:0px -3px 0px -3px;
  background-color: rgba(255,165,0,0.5)
}

.scenariosTable .square {
  color: rgba(255,255,255,1);
  height: 18px;
  line-height: 18px;
  width: 18px;
  overflow: hidden;
  font-size: 10px;
  text-align: center;
  margin-bottom: 2px;
  top: 2px;
}
